<h1>COUCOU</h1>
<%= simple_form_for @booking do |b| %>
  <%= b.input :boat_id, :collection => @boats %>
  <%= b.input :start_date, label: "Sélectionnez vos dates:",
                               as: :string,
                               required: false,
                               input_html: { data: { controller: "datepicker" } } %>

  <%= b.input :people, label: "Vous serez combien ?" %>
  <%= b.button :submit %>
<% end %>
