<% if user_signed_in? %>
  <div class="body-form">
    <div class="container-form m-24 p-3 w-80">
      <div class="form-rent">
        <h2 class="text-info">Book Your Adventure</h2>
        <h2 class="text-info"><%= @boat.name %></h2>
        <%= simple_form_for [@boat, @booking] do |b| %>
          <div class="form-grid">
            <!-- Right Column -->

            <div class="right-form">
              <%= b.input :start_date, label: "Select Your Dates <i class='fa-solid fa-calendar-days'></i>".html_safe,
                                        as: :string,
                                        required: false,
                                        input_html: { data: { controller: "datepicker" }, placeholder: "Pick a start date" } %>
            </div>

          <div class="right-form">
            <%= b.input :start_date, label: "Select Your Dates <i class='fa-solid fa-calendar-days'></i>".html_safe,
                                      as: :string,
                                      required: false,
                                      input_html: { data: { controller: "datepicker", datepicker_dates_value: @dates, datepicker_price_value: @boat.daily_price }, placeholder: "Pick a start date" } %>
          </div>

          <!-- Left Column -->
          <div class="left-form">
            <%= b.input :people, label: "How Many People? <i class='fa-solid fa-user-group'></i>".html_safe, placeholder: "Enter the number of people" %>             </div>

          <div id="price">
            <%= @boat.daily_price %>
          </div>

            <!-- Left Column -->
            <div class="left-form">
              <%= b.input :people, label: "How Many People? <i class='fa-solid fa-user-group'></i>".html_safe, placeholder: "Enter the number of people" %>             </div>
          </div>

          <!-- Submit Button -->
          <div class="row d-flex">
            <%= b.button :submit, class:"btn justify-content-center align-items-center btn-btn-outline-success w-25 mt-3" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
