<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid mx-2">
    <!-- Logo on the Left -->
    <%= link_to image_tag("airbnboat_navbar.png", alt: "Boat-image", class: "navbar-brand"), root_path %>

    <!-- Hamburger Menu for Mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links on the Right -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav align-items-center">
        <% if user_signed_in? %>
          <!-- Rent My Boat Link -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= link_to "Rent My Boat", new_boat_path, class: "text-decoration-none me-2 fw-bold", id:"rent" %>
              <% if current_user.photo_profil && current_user.photo_profil.attached? %>
                <%= image_tag current_user.photo_profil, alt: "Profile Picture", class: "avatar rounded-circle", width: 35, height: 35 %>
              <% else %>
                <%= image_tag "default-profile.png", alt: "Default Profile Picture", class: "avatar rounded-circle mb-2", width: 35, height: 35 %>
              <% end %>
            </a>
            <!-- Dropdown Menu -->
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><%= link_to "My Profile", edit_user_registration_path, class: "dropdown-item" %></li>
              <li><%= link_to "Dashboard", user_dashboard_path, class: "dropdown-item" %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <!-- Sign In/Sign Up Buttons -->
          <li class="nav-item d-flex">
            <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-outline-primary me-2' %>
            <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
