<!DOCTYPE html>
<html>
  <head>
    <title>Airbnboat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand bg-body-tertiary">
        <div class="container-fluid">
          <%= image_tag "airbnboat_navbar.png", class: "navbar-brand", alt: "Boat-image"%>
          <div class="menu">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <%= link_to "Home", root_path, class: "nav-link active", id: "home", aria: { current: "page" } %>
                </li>
                <li class="nav-item">
                  <%= link_to "Rent My Boat", new_boat_path, class: "nav-link active", id: "rent", aria: { current: "page" } %>
                </li>
              </ul>
              <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="categories" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categories
                </a>
                <ul class="dropdown-menu" aria-labelledby="categories">
                  <li><%= link_to "Venise", boats_path, class: "dropdown-item" %></li>
                  <li><%= link_to "La Rochelle", boats_path, class: "dropdown-item" %></li>
                  <li><%= link_to "Londres", boats_path, class: "dropdown-item" %></li>
                  <li><%= link_to "Saint-Tropez", boats_path, class: "dropdown-item" %></li>
                  <li><%= link_to "Marbella", boats_path, class: "dropdown-item" %></li>
                  <li><%= link_to "Le Pirée", boats_path, class: "dropdown-item" %></li>
                </ul>
              </div>
            </div>
          </div>



<li class="nav-item dropdown" style="list-style: none; margin: 0; padding: 0;" >
  <% if user_signed_in? %>
    <!-- Image de profil ou par défaut avec dropdown -->
    <div class="profile">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <% if current_user.photo_profil && current_user.photo_profil.attached? %>
        <%= image_tag current_user.photo_profil, alt: "Profile Picture", class: "avatar rounded-circle", width: 35, height: 35 %>
      <% else %>
        <%= image_tag "default-profile.png", alt: "Default Profile Picture", class: "avatar rounded-circle", width: 35, height: 35 %>
      <% end %>
    </a>
</div>
    <!-- Menu déroulant -->
      <div class="dd_profile">
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <%= link_to "My Profile", users_dashboard_path, class: "dropdown-item" %>
      <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
      </div>
    </div>

  <% else %>
    <!-- Boutons pour les utilisateurs non connectés -->
    <div class="btnSiSu">
      <%= link_to 'Sign up', new_user_registration_path, class: 'btn-signUp' %>
      <%= link_to 'Sign in', new_user_session_path, class: 'btn-signIn' %>
    </div>
  <% end %>
</li>

      </nav>
    </header>



    <!-- Modal for Flash Messages -->
    <div class="modal fade" id="flashModal" tabindex="-1" aria-labelledby="flashModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="flashModalLabel">Notification</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= flash[:notice] %>
            <%= flash[:alert] %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>

</html>
